@font-face {
    font-family: "8-bits";
    src: url("fonts/8-BITWONDER.TTF");
}

@font-face {
    font-family: "pokemon";
    src: url("fonts/PokemonSolid.ttf");
}

* {
    transition: all .2s ease;
}

.Card-Pokemon {
    font-family: "8-bits";
    margin: auto;
    position: relative;
    width: 300px;
    height: 350px;
    border: 2px solid rgb(102, 102, 102) !important;
    border-radius: 15%;
    overflow: hidden;
}

.Card-Pokemon .circle {
    position: relative;
    clip-path: circle(180px at center 0);
    width: 100%;
    height: 100%;
}

.Card-Pokemon .Card-Content {
    width: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    padding: 20px;
    /* page-break-after: 20px; */
    text-align: center;
}

.Card-Pokemon .Card-Content img {
    margin-top: 30px;
    width: 150px;
}

.Card-Pokemon .Card-Content p {
    font-size: 12px;
    margin-bottom: 10px;
}

.Card-Pokemon .Card-Content .header-card {
    display: flex;
    justify-content: space-between;
}

.Card-Pokemon .Card-Content .header-card h1 {
    font-size: 18px;
}


/* TAG */

.tag-poison {
    font-family: "8-bits";
    font-size: 11px;
    background: blueviolet;
    border-bottom: 2px solid rgb(83, 12, 150);
    color: rgb(252, 252, 252);
    padding: 5px;
    border-radius: 15%;
}

.tag-grass {
    font-family: "8-bits";
    font-size: 11px;
    background: rgb(8, 194, 39);
    border-bottom: 2px solid rgb(7, 122, 26);
    color: rgb(252, 252, 252);
    padding: 5px;
    border-radius: 15%;
}

.tag-fire {
    font-family: "8-bits";
    font-size: 11px;
    background: rgb(255, 94, 0);
    border-bottom: 2px solid rgb(252, 71, 0);
    color: rgb(252, 252, 252);
    padding: 5px;
    border-radius: 15%;
}

.tag-flying {
    font-family: "8-bits";
    font-size: 11px;
    background: rgb(47, 208, 236);
    border-bottom: 2px solid rgb(15, 131, 151);
    color: rgb(252, 252, 252);
    padding: 5px;
    border-radius: 15%;
}

.tag-water {
    font-family: "8-bits";
    font-size: 11px;
    background: rgb(9, 117, 241);
    border-bottom: 2px solid rgb(4, 66, 136);
    color: rgb(252, 252, 252);
    padding: 5px;
    border-radius: 15%;
}

.tag-ice {
    font-family: "8-bits";
    font-size: 11px;
    background: rgb(20, 223, 238);
    border-bottom: 2px solid rgb(14, 175, 187);
    color: rgb(252, 252, 252);
    padding: 5px;
    border-radius: 15%;
}

.tag-dragon {
    font-family: "8-bits";
    font-size: 11px;
    background: rgb(104, 20, 238);
    border-bottom: 2px solid rgb(88, 14, 207);
    color: rgb(252, 252, 252);
    padding: 5px;
    border-radius: 15%;
}

.tag-bug {
    font-family: "8-bits";
    font-size: 11px;
    background: rgb(148, 199, 9);
    border-bottom: 2px solid rgb(97, 129, 7);
    color: rgb(252, 252, 252);
    padding: 5px;
    border-radius: 15%;
}

.tag-normal {
    font-family: "8-bits";
    font-size: 11px;
    background: rgb(163, 163, 163);
    border-bottom: 2px solid rgb(119, 117, 117);
    color: rgb(252, 252, 252);
    padding: 5px;
    border-radius: 15%;
}

.tag-ground {
    font-family: "8-bits";
    font-size: 11px;
    background: rgb(187, 99, 27);
    border-bottom: 2px solid rgb(158, 84, 23);
    color: rgb(252, 252, 252);
    padding: 5px;
    border-radius: 15%;
}

.tag-rock {
    font-family: "8-bits";
    font-size: 11px;
    background: rgb(144, 78, 25);
    border-bottom: 2px solid rgb(110, 60, 20);
    color: rgb(252, 252, 252);
    padding: 5px;
    border-radius: 15%;
}

.tag-fairy {
    font-family: "8-bits";
    font-size: 11px;
    background: rgb(255, 160, 242);
    border-bottom: 2px solid rgb(245, 115, 227);
    color: rgb(252, 252, 252);
    padding: 5px;
    border-radius: 15%;
}

.tag-psychic {
    font-family: "8-bits";
    font-size: 11px;
    background: rgb(240, 133, 177);
    border-bottom: 2px solid rgb(224, 109, 157);
    color: rgb(252, 252, 252);
    padding: 5px;
    border-radius: 15%;
}

.tag-fighting {
    font-family: "8-bits";
    font-size: 11px;
    background: rgb(148, 20, 20);
    border-bottom: 2px solid rgb(110, 15, 15);
    color: rgb(255, 254, 254);
    padding: 5px;
    border-radius: 15%;
}

.tag-electric {
    font-family: "8-bits";
    font-size: 11px;
    background: rgb(255, 238, 2);
    border-bottom: 2px solid rgb(255, 217, 2);
    color: rgb(255, 254, 254);
    padding: 5px;
    border-radius: 15%;
}

.tag-ghost {
    font-family: "8-bits";
    font-size: 11px;
    background: rgb(51, 7, 122);
    border-bottom: 2px solid rgb(35, 5, 83);
    color: rgb(255, 254, 254);
    padding: 5px;
    border-radius: 15%;
}


/* COLORS */


/* fire */

.fire {
    background: #fd811b;
}

.fire .circle {
    background: #ff9742;
}


/* psychic */

.psychic {
    background: #ff90f9;
}

.psychic .circle {
    background: #ffa9fb;
}


/* ice */

.ice {
    background: #90eeff;
}

.ice .circle {
    background: #b5f4ff;
}


/* dragon */

.dragon {
    background: #7a46f1;
}

.dragon .circle {
    background: #8658f3;
}


/* psychic */

.fairy {
    background: #ffb6f5;
}

.fairy .circle {
    background: #ffccf8;
}


/* Ground, Rock */

.rock,
.ground {
    background: #ca9979;
}

.rock .circle,
.ground .circle {
    background: #d8a786;
}

.fighting {
    background: #da3e2d;
}

.fighting .circle {
    background: #e75747;
}


/* Normal */

.normal {
    background: #b3b1b1;
}

.normal .circle {
    background: #cecbcb;
}


/* Bug */

.bug {
    background: rgb(180, 221, 65);
    ;
}

.bug .circle {
    background: rgb(207, 243, 107);
    ;
}


/* grass */

.grass {
    background: #2cdab1;
}

.grass .circle {
    background: #60e3c4;
}


/* poison */

.poison {
    background: #9f5bba;
}

.poison .circle {
    background: #b784cb;
}


/* Electric */

.electric {
    background: #ffce4b;
}

.electric .circle {
    background: #ffda77;
}


/* Water */

.water {
    background: #58abf6;
}

.water .circle {
    background: #81c0f8;
}